/*!
 * simon.css
 * Created by Jeremy Davis
 * March 27, 2014
 * 
 * This file defines the style elements common to all or most of the HTML files in this project.
 */

html, body {
    width:            100%;
    height:           100%;
    overflow:         hidden;
    color:            #ffffff;
    background-color: #000000;
}

h1 {
    text-align:       center;
}
